schema_relaxng_schematron/corema_recipes.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <externalRef href="corema_teiHeader.rng"/>
      <element name="facsimile">
        <oneOrMore>
          <element name="surface">
            <attribute name="start"/>
            <ref name="graphic"/>
          </element>
        </oneOrMore>
      </element>
      <element name="text">
        <element name="body">
          <attribute>
            <name ns="http://www.w3.org/XML/1998/namespace">space</name>
            <value>preserve</value>
          </attribute>
          <element name="div">
            <oneOrMore>
              <choice>
                <ref name="pb"/>
                <ref name="note"/>
                <ref name="ab_main"/>
                <element name="milestone">
                  <attribute name="unit">
                    <value>collection</value>
                  </attribute>
                  <attribute name="n"/>           
                  <empty/>
                </element>
                <element name="seg">
                  <attribute name="ana">
                    <choice><value>intro</value>
                    <value>close</value></choice>
                  </attribute>
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="foreign"/>
                      <ref name="title_body"/>
                      <ref name="ingredient"/>
                      <ref name="tool"/>
                    </choice>
                  </oneOrMore>
                </element>
                <element name="dateline">
                  <text/>
                </element>
                <ref name="title_body"/>
              </choice>
            </oneOrMore>
          </element>
        </element>
      </element>
    </element>
  </start>

  <!--auch in body-->
  <define name="foreign">
    <element name="foreign">
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="unclear"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <attribute name="n">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
          <choice>
            <value>en</value>
            <value>de</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="tool"></ref>
          <ref name="dish"></ref>
          <ref name="ingredient"></ref>
          <ref name="name"/>
          <ref name="pb"/>
          <ref name="religion"></ref>
          <ref name="alternative"></ref>
          <ref name="foreign"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      
      <optional>
        <attribute name="facs"/>
      </optional>
      
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="mimeType"/>
      </optional>
      <optional>
        <attribute name="url">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ana"/>
      </optional>
      
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="ID"/>
      </attribute>
      
    </element>
  </define>
  <!--start body tags-->
  <define name="alternative">
    <element name="alternative">

      <attribute name="reason">
        <choice>
          <value>ingredient</value>
          <value>instruction</value>
          <value>tool</value>
          <value>amount</value>
          <value>serving</value>
          <value>phrasing</value>
          <value>condition</value>
          <value>dish</value>
          <value>title</value>
        </choice>
      </attribute>

      <zeroOrMore>
        <choice>
          <text/>
          <ref name="sp"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="date"/>
          <ref name="householdTip"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="religion"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
        </choice>
      </zeroOrMore>

    </element>
  </define>
  <define name="closer">
    <element name="closer">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="sp"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="householdTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="when">
          <data type="string"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <!--<ref name="hi"/>-->
          <ref name="tool"></ref>
          <ref name="dish"></ref>
          <ref name="ingredient"></ref>
          <ref name="pb"/>
          <ref name="religion"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dietetics">
    <element name="dietetics">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="tool"></ref>
          <ref name="dish"></ref>
          <ref name="ingredient"></ref>
          <ref name="pb"/>
          <ref name="date"/>
          <ref name="foreign"/>
          <ref name="alternative"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="servingTip">
    <element name="servingTip">
      <optional>
        <choice>
          <attribute name="rel">
            <data type="NCName"/>
          </attribute>
          <attribute name="ana">
            <choice>
              <value>dietetics</value>
            </choice>
          </attribute>
        </choice>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="sp"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="householdTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ab_main">
    <element name="ab">

      <attribute name="n">
        <data type="integer"/>
      </attribute>

      <optional>
        <attribute name="part">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
      </optional>

      <attribute name="type">

        <choice>
          <value>recipe</value>
          <value>medicinal</value>
          <value>kitchenTip</value>
          <value>servingTip</value>
          <value>household</value>
          <value>dietetics</value>
          <value>artTechnology</value>
          <value>alternativeRecipe</value>
          <value>referral</value>
          <value>parody</value>
        </choice>

      </attribute>


      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="ID"/>
      </attribute>

      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
        <data type="NCName"/>
      </attribute>


      <interleave>

        <text/>
        <zeroOrMore>
          <choice>
            <ref name="sp"/>
            <ref name="title_body"/>
            <ref name="ref"/>
            <ref name="alternative"/>
            <ref name="dish"/>
            <ref name="ingredient"/>
            <ref name="instruction"/>
            <ref name="kitchenTip"/>
            <ref name="householdTip"/>
            <ref name="religion"/>
            <ref name="date"/>
            <ref name="pb"/>
            <ref name="unclear"/>
            <ref name="ab_sub"/>
            <ref name="closer"/>
            <ref name="opener"/>
            <ref name="name"/>
            <ref name="servingTip"/>
            <ref name="dietetics"/>
            <ref name="tool"/>
            <ref name="foreign"/>
            <ref name="note"/>
            <ref name="time"/>
            <ref name="num"/>
            <ref name="authority"/>
          </choice>
        </zeroOrMore>

      </interleave>
    </element>
  </define>
  <define name="name">
    <element name="name">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="tool"></ref>
          <ref name="dish"></ref>
          <ref name="ingredient"></ref>
          <ref name="ingredient"/>
          <ref name="dish"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ab_sub">
    <element name="ab">

      <attribute name="n">
        <data type="integer"/>
      </attribute>

      <optional>
        <attribute name="part">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
      </optional>

      <attribute name="type">
        <choice>
          <value>recipe</value>
          <value>medicinal</value>
          <value>introduction</value>
          <value>kitchenTip</value>
          <value>household</value>
          <value>parody</value>
          <value>dietetics</value>
        </choice>
      </attribute>
      <attribute name="subtype">
        <value>subrecipe</value>
      </attribute>


      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="ID"/>
      </attribute>

      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
        <data type="NCName"/>
      </attribute>

      <interleave>
        <text/>
        <zeroOrMore>
          <choice>
            <ref name="sp"/>
            <ref name="title_body"/>
            <ref name="ref"/>
            <ref name="alternative"/>
            <ref name="dish"/>
            <ref name="ingredient"/>
            <ref name="instruction"/>
            <ref name="kitchenTip"/>
            <ref name="householdTip"/>
            <ref name="religion"/>
            <ref name="date"/>
            <ref name="pb"/>
            <ref name="unclear"/>
            <ref name="ab_sub"/>
            <ref name="closer"/>
            <ref name="opener"/>
            <ref name="name"/>
            <ref name="servingTip"/>
            <ref name="dietetics"/>
            <ref name="tool"/>
            <ref name="note"/>
            <ref name="foreign"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="num">
    <element name="num">
      <attribute name="ana">
        <choice>
          <value>recipeNumber</value>
        </choice>
      </attribute>
      <attribute name="value">
        <data type="int"/>
      </attribute>
    </element>
  </define>
  <define name="opener">
    <element name="opener">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="householdTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
          <ref name="sp"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="authority">
    <element name="authority">
      <attribute name="ana"/>
      <text/>
    </element>
  </define>
  <define name="unclear">
    <element name="unclear">
      <text/>
    </element>
  </define>
  <define name="religion">
    <element name="religion">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="tool"/>
          <ref name="ref"/>
          <ref name="name"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="title_body">
    <element name="title">
      <optional>
        <attribute name="type">
          <choice>
            <value>none</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="ana">
          <choice>
            <value>chapter</value>
            <value>collection</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp">
          <list>
            <oneOrMore>
              <data type="anyURI"/>
            </oneOrMore>
          </list>
        </attribute>
      </optional>
      <optional>
        <attribute name="key">
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="ID"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="tool"></ref>
          <ref name="dish"></ref>
          <ref name="ingredient"></ref>
          <ref name="sp"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="householdTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <!--<ref name="title"/>-->
          <ref name="foreign"/>
          <ref name="note"/>
          <ref name="num"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="pb">
    <element name="pb">
      <attribute name="n">
        <data type="NMTOKEN"/>
      </attribute>
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="ID"/>
      </attribute>
    </element>
  </define>
  <define name="instruction">
    <element name="instruction">
      <optional>
        <attribute name="en"/>
      </optional>
      <optional>
        <attribute name="key"/>
      </optional>
      <optional>
        <attribute name="qualification">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="tool"></ref>
          <ref name="dish"></ref>
          <ref name="ingredient"></ref>
          <ref name="sp"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="householdTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
          <ref name="note"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="time">
    <element name="time">
      <optional>
        <attribute name="duration">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="n">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="tool"></ref>
          <ref name="dish"></ref>
          <ref name="ingredient"></ref>
          <ref name="date"/>
          <ref name="religion"/>
          <ref name="alternative"/>
          <ref name="pb"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ingredient">
    <element name="ingredient">
      <attribute name="commodity"/>
      <attribute name="en"/>
      <optional>
        <attribute name="warning"/>
      </optional>
      <optional>
        <attribute name="ana">
          <choice>
            <value>comparison</value>
            <value>exclusion</value>
            <value>analogy</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="cert">
          <data type="integer"/>
        </attribute>
      </optional>
        
      <optional>
        <attribute name="condition"/>
      </optional>
      <optional>
        <attribute name="quality">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="quantity"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="dish"/>
          <ref name="pb"/>
          <ref name="ref"/>
          <ref name="ingredient"></ref>
          <ref name="foreign"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dish">
    <element name="dish">
      <optional>
        <attribute name="warning"/>
      </optional>
      <optional>
        <attribute name="ana">
          <choice>
            <value>comparison</value>
            <value>exclusion</value>
            <value>analogy</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="commodity"/>
      </optional>
      <optional>
        <attribute name="quality">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref"/>
      </optional>
      <optional>
        <attribute name="en"/>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <choice>
            <ref name="religion"/>
            <ref name="ingredient"/>
            <ref name="pb"/>
            <ref name="religion"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="kitchenTip">
    <element name="kitchenTip">
      <optional>
        <attribute name="rel">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="sp"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="householdTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="householdTip">
    <element name="householdTip">
      <optional>
        <attribute name="rel">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="sp"/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="ab_sub"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
          <ref name="note"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="tool">
    <element name="tool">
      <optional>
        <attribute name="warning"/>
      </optional>
      <optional>
        <attribute name="ana">
          <choice>
            <value>comparison</value>
            <value>exclusion</value>
            <value>analogy</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="commodity"/>
      </optional>
      <optional>
        <attribute name="en"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ingredient"/>
          <ref name="dish"></ref>
          <ref name="pb"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="sp">
    <element name="sp">
      <attribute name="ana"/>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ref"/>
          <ref name="alternative"/>
          <ref name="dish"/>
          <ref name="ingredient"/>
          <ref name="instruction"/>
          <ref name="kitchenTip"/>
          <ref name="religion"/>
          <ref name="date"/>
          <ref name="pb"/>
          <ref name="unclear"/>
          <ref name="closer"/>
          <ref name="opener"/>
          <ref name="name"/>
          <ref name="servingTip"/>
          <ref name="dietetics"/>
          <ref name="tool"/>
          <ref name="time"/>
          <ref name="title_body"/>
          <ref name="foreign"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
